body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: var(--font-framily);
  color: var(--main-color); 
}



:root {
  --primary-text-button-color: #8053ff;
  --main-color: #23155b;
  --gray-light-color-body: #817d8e;
  --white-background-form-color: #f4f4f4;
  --background-color: #f4f4f4;

  --font-framily: Martel Sans, Noto Sans Khojki, sans-serif;

}

.container {
  background-color: var(--background-color);
  max-width: 1520px;
  margin-inline: auto;
}


.navbar {
  display: grid;
  gap: 20px;
  padding: 24px 12px;
 
}


.navlist a {
  text-decoration: none;
  color: #23155b;
 
}


.codelabs_logo {
  text-align: center;
  padding-left: 50px;
}

.navlist {
  display: flex;
  list-style: none;
  justify-content: space-around;
}


.navlist .join_button a button {
  background-color:var(--primary-text-button-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}


.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  font-weight:bold;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #666;
}

.manager-button {
  background-color: #dbd3d3;
  color: #fff;
  border-color: #8053ff;
  padding: 15px 30px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1em;
}


.coder-button {
  background-color: var(--primary-text-button-color);
  color: #fff;
  border: none;
  padding: 15px 30px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}





.statistics {
  text-align: center;
  padding: 50px 20px;
}

.statistics h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--primary-text-button-color);
}

.statistics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.stat-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stat-box p {
  margin: 10px 0;
  font-size: 1.2em;
  color: #555;
}




@media screen and (min-width: 1024px){

  footer.copyright {
    color: #fff;
    margin-top: 20px;
    font-size: 0.9em;
    padding-left: 250px;
  }


}












@media screen and (min-width: 1024px) {
  .navbar {
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
 
  }
    .codelabs_logo {
      text-align: start;
      padding-left: 50px;
    }
   
    .stat-box {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 5px;
      width: 500px;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }



    .stat-box2 {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
      width: 500px;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }


    .feature-container1{

      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
  
}




.copyright {
  color: #fff;
  margin-top: 20px;
  font-size: 0.9em;
 text-align: center;
}

span {
  color:var(--primary-text-button-color);
}


.for_coders {
margin-left:50px;

}






.coder_features {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 50px 20px;
  background-color: #f4f4f4;
  
}



.coder_features h2 {
  margin-bottom: 20px;
  color: var(--primary-text-button-color);
  
}


.coder_features h1 {
  font-size: 2.5em;
 font-weight:bold;
  margin-bottom: 20px;
  color: #333;
  
}

.coder_features p {
  margin: 0;
  padding: 10px;
  color: #666;
  font-size: 1em;
 
}



.features{

  font-weight: bold;
}

.coder_features img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.feature-box {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.feature-box img {
  margin-right: 10px;
}

.feature-box p {
  margin: 0;
  
}

.coder_features button {
  width: fit-content;
  height: 50px;
  background-color: var(--primary-text-button-color);
  color: #fff;
  border: none;
  margin-left: 45px;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 1em;
}


.feature-box > :first-child{

  font-weight: bold;
}


.gain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;



}











.stat-box2 {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.access{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;




}


.showcase-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  

}

.column-1, .column-2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.column-1 {
  flex: 1;
}

.column-2 {
  flex: 2;
}




.showcase {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.team_photo {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.codelabs_logo {
  max-width: 100%;
  margin-bottom: 10px;
}

.content h2,
.content p {
  margin: 0 0 10px 0;
}

.content p {
  margin-bottom: 20px;
}

.teams{
  width: 295px;
  height: 415px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;

}

.managers_features  button{
  width: fit-content;
  height: 50px;
  background-color: var(--primary-text-button-color);
  color: #fff;
  border: none;
  margin: 45px;
  border-radius: 5px;
  font-size: 1em;
}

.managers_features{
  display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px 20px;
    background-color: #f4f4f4;
    
}


div.for_managers{
  margin-left:50px ;
}





.testimonials-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.testimonials {
  background: white;
  padding: 20px;
  margin-bottom: 50px;
  width: 500px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonials h2 {
  color: #333;
  margin: 20px 0 10px;
}

.testimonials p {
  color: #666;
  line-height: 1.5;
  margin: 10px 0;
}

.testimonials img.june_cha {
  border-radius: 50%;
  margin: 20px 0;
  width: 150px; 
  height: auto;
}

.testimonial {
  display: none;
  text-align: center;
}

.testimonial.active {
  display: block;
}




#year{
  color:#f4f4f4;
}

.testimonials-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.testimonials {
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.testimonial-carousel {
  width: 100%;
}

button.prev, button.next {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 


  border: none;
  padding: 10px;
 
}

button.prev {
  left: 10px; 
}

button.next {
  right: 10px; 
}

button.prev i, button.next i {
  font-size: 20px;
}



